<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">.</h2>
        <h3 class="oe_slogan">Create Activities &amp; Manage your Labour and Material Schedules</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="activties.png" height="300">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Create a Bill of Quantity for your Project</h2>
        <h3 class="oe_slogan">Improve your Construction Porcesses &amp; Manage your Budget Performance</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="bill.png" height="300">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Manage your Budget Performance with the Constructio Mastger Budget Feature</h2>
        <h3 class="oe_slogan">Manage your Budget Performance, control all child budget</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="budget.png" height="300">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Automate your Material Request workflow</h2>
        <h3 class="oe_slogan">Automatically send RfQs to your suppliers based on your stocks levels for usage</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Improve your purchase and inventory performance with procurement requests depending on stock levels.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="request.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Have full Control of your Work schedules and Organization</h2>
        <h3 class="oe_slogan">Create a program of work and allow the system to automatically compute your project activities and duration</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="program_of_work.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Manage all projects program of work and view them in an improve odoo 10 gantt view
               </div>

    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h3 class="oe_mt32 oe_mb8"><b>Create Labour requests</b></h3>
            <h4>Automatically Creates a Payment Schedule for vendor payments</h4>
            <p class="oe_mt16 oe_mb32 text-justify">
                Has High level construction approval process
            </p>
            <img class="oe_picture oe_screenshot" src="purchase_product_form.png" style="margin-left: -1px;">
        </div>
        <div class="oe_span6">
            <h3 class="oe_mt32 oe_mb8"><b>You can make payments in batches </b></h3>

            <p class="oe_mt16 text-justify">

            </p>
            <img class="oe_picture oe_screenshot" src="labour.png" style="margin-left: -1px; margin-top: 52px;">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
